.ggg{
    color: darkorange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 40rem;
}
.fff{
    margin-left: 25rem;
}
.navbar{
    background-color: #fff ! important;
}
.navbar-brand{
    font-size: 1.9rem !important;
    color: #565387;
}
.navbar ul{
    margin-left: 50rem;
    display: flex;
    justify-content: space-around;
    margin-top: -2rem;
}
.navbar a{
    font-size: 1.3rem;
    text-transform: capitalize;
}